.forgotEditBox {
  position: fixed;
  top: 0;
  background: #ddd;
  width: 100vw;
  height: 100vh;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forgotBox {
  width: 53vh;
  height: 40vh;
  padding: 10px;
  background-color: white;
}

.forgotBox h2 {
  text-align: center;
  margin: 10px;
  font: 400 2.2vmax Roboto;
  color: #333;
}

form.forgotFrom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 75%;
}

form.forgotFrom > div > input {
  width: 100%;
  padding: 1vmax 3vmax;
  outline: none;
  padding-right: 1vmax;
}

form.forgotFrom > div > svg {
  position: absolute;
  color: #333;
  font-size: 2vmax;
  transform: translateX(0.4vmax);
}

form.forgotFrom > div {
  display: flex;
  align-items: center;
}
div#registerImage > input::file-selector-button {
  width: 100%;
  cursor: pointer;
  padding: 6px;
  font: 300 1vmax Cursive;
}

div#registerImage > input {
  display: flex;
  padding: 0px;
}
input.forgotBtn {
  border: none;
  background-color: tomato;
  width: 100%;
  padding: 0.8vmax;
  font: 300 1vmax "Roboto";
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

input.forgotBtn:hover {
  background-color: rgba(179, 66, 46);
}
#registerImage > img {
  width: 3vmax;
  height: 3vmax;
  border-radius: 100%;
  margin: 2px;
}
