* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
li {
  list-style: none;
}
html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}
body {
  background-color: #ddd;
}
ul li a {
  font-size: 1.8rem;
}
